---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<div class="next-prev">
  {%- if previousPost %}<div><span class="arrow"><=</span> <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></div>{% endif %}
  {%- if nextPost %}<div><a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a> <span class="arrow">=></span></div>{% endif %}
</div>
{%- endif %}
{%- endif %}
